$color_green_01              : #67c94d;
$color_black                 : #141414;
$color_grey_01               : #333333;
$color_grey_02               : #3D3D3D;
$color_grey_03               : #474747;
$color_white                 : #F0F0F0;