@import "./variables.scss";

canvas {
  width               : 1000px;
  height              : 500px;
  background-color    : $color_black;
  border              : 2px solid $color_white;
  border-radius       : 15px;
}