article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 32px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lottery-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[10];
      grid-template-columns: repeat(10, auto);
  gap: 10px;
}

#chosen-numbers {
  margin: 0px 0px 10px 0px;
}

input[type=checkbox] {
  position: relative;
  visibility: hidden;
  height: 30px;
  width: 30px;
}

input[type=checkbox]:after {
  content: attr(id);
  visibility: visible;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  color: #f0f0f0;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input[type=checkbox]:hover::after {
  background: #f0f0f0;
  color: #141414;
}

input[type=checkbox]:checked::after {
  background-color: rgba(103, 201, 77, 0.7);
}

input[type=checkbox]:hover:checked::after {
  border: 2px solid transparent;
  color: #f0f0f0;
}

button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 15px;
  color: #67c94d;
  font-weight: bold;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid #67c94d;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  color: #141414;
  background-color: #67c94d;
}

button:disabled {
  color: #f0f0f0;
  border-color: transparent;
  background-color: #d0d0d0;
  cursor: not-allowed;
}
