@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body {
  background: #141414;
  width: 100vw;
  height: 100vh;
  margin: 0px;
}

* {
  font-family: "Questrial", sans-serif;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  width: calc(100% - 91px);
  height: 100vh;
  left: 91px;
}

h1 {
  color: #f0f0f0;
  font-size: 90px;
  margin: 0px;
}

h2 {
  color: #f0f0f0;
  font-size: 60px;
  margin: 0px 0px 36px 0px;
}

@media (max-width: 694px) {
  h2 {
    font-size: 40px;
  }
}

p {
  color: #d0d0d0;
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  max-width: 700px;
}

@media (max-width: 694px) {
  p {
    font-size: 13px;
  }
}

i {
  font-size: 32px;
}

strong {
  color: #67c94d;
  font-weight: bold;
}

article {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 32px;
}

@media (max-width: 694px) {
  article {
    padding: 16px 32px 16px 16px;
  }
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  z-index: 999;
  background: rgba(20, 20, 20, 0.9);
  width: 57px;
  height: calc(100% - 30px);
  margin: 15px;
  border: 2px solid #f0f0f0;
  border-radius: 15px;
  -webkit-transition: width 0.3s cubic-bezier(1, 0, 1, 1);
  transition: width 0.3s cubic-bezier(1, 0, 1, 1);
}

.sidebar:hover {
  width: 200px;
  -webkit-transition: width 0.5s cubic-bezier(0, 0, 0, 1);
  transition: width 0.5s cubic-bezier(0, 0, 0, 1);
}

.sidebar:hover li {
  width: 200px;
}

.sidebar_list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.sidebar_list li {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar_list li:hover:not(.selected) i {
  color: #67c94d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar_list li:hover:not(.selected) h3:after {
  width: 100%;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.sidebar_list li.selected i {
  color: #67c94d;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar_list li.selected h3 {
  color: #67c94d;
}

.sidebar_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 12.5px;
  color: #f0f0f0;
  text-decoration: none;
}

.sidebar_list li i {
  color: #f0f0f0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar_list li h3 {
  display: block;
  position: relative;
  opacity: 0;
  max-width: 0px;
  visibility: hidden;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  font-size: 16px;
  margin: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.sidebar_list li h3:after {
  content: "";
  background-color: #67c94d;
  width: 0px;
  height: 2px;
  position: absolute;
  left: 0px;
  top: calc(100% - 2px);
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
}

.sidebar:hover .sidebar_list li h3 {
  visibility: visible;
  opacity: 1;
  max-width: 130px;
  margin: 0px 0px 0px 10px;
}

.sidebar:hover .sidebar_list li:nth-child(1) h3 {
  -webkit-transition: opacity 0.2s 0.05s, margin 0.2s 0.05s;
  transition: opacity 0.2s 0.05s, margin 0.2s 0.05s;
}

.sidebar:hover .sidebar_list li:nth-child(2) h3 {
  -webkit-transition: opacity 0.2s 0.15s, margin 0.2s 0.15s;
  transition: opacity 0.2s 0.15s, margin 0.2s 0.15s;
}

.sidebar:hover .sidebar_list li:nth-child(3) h3 {
  -webkit-transition: opacity 0.2s 0.25s, margin 0.2s 0.25s;
  transition: opacity 0.2s 0.25s, margin 0.2s 0.25s;
}

.sidebar:hover .sidebar_list li:nth-child(4) h3 {
  -webkit-transition: opacity 0.2s 0.35s, margin 0.2s 0.35s;
  transition: opacity 0.2s 0.35s, margin 0.2s 0.35s;
}
