@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
@import "./variables.scss";

body {
  background          : $color_black;
  width               : 100vw;
  height              : 100vh;
  margin              : 0px;
}

* {
  font-family         : "Questrial", sans-serif;
}

main {
  box-sizing          : border-box; 
  position            : fixed;
  width               : calc(100% - 91px);
  height              : 100vh;
  left                : 91px;
}

h1 {
  color               : $color_white;
  font-size           : 90px;
  margin              : 0px;
}

h2 {
  color               : $color_white;
  font-size           : 60px;
  margin              : 0px 0px 36px 0px;

  @media (max-width   : 694px) {
    font-size         : 40px;
  }
}

p {
  color               : $color_grey;
  font-size           : 18px;
  text-align          : justify;
  line-height         : 1.5;
  max-width           : 700px;

  @media (max-width   : 694px) {
    font-size         : 13px;
  }
}

i {
  font-size: 32px;
}

strong {
  color               : $color_green;
  font-weight         : bold;
}

article {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding             : 32px;

  @media (max-width   : 694px) {
    padding           : 16px 32px 16px 16px;
  }
}

/*
 * Sidebar
 */

.sidebar {
  position            : fixed;
  z-index             : 999;
  background          : rgba($color_black, 0.9);
  width               : 57px;
  height              : calc(100% - 30px);
  margin              : 15px;
  border              : 2px solid $color_white;
  border-radius       : 15px;
  transition          : width 0.3s cubic-bezier(1, 0, 1, 1);

  &:hover {
    width             : 200px;
    transition        : width 0.5s cubic-bezier(0, 0, 0, 1);
  }
}

.sidebar:hover li {
  width               : 200px;
}

.sidebar_list {
  list-style          : none;
  padding             : 0px;
  margin              : 0px;
}

.sidebar_list li {
  background          : transparent;
  display             : flex;

  &:hover:not(.selected) {
    i {
      color           : $color_green;
      transition      : 0.2s;
    }

    h3:after {
      width           : 100%;
      transition      : width 0.2s;
    }
  }

  &.selected {
    i {
      color           : $color_green;
      transition      : 0.2s;
    }

    h3 {
      color           : $color_green;
    }
  }

  a {
    display           : flex;
    justify-content   : flex-start;
    align-items       : center;
    width             : 100%;
    height            : 100%;
    padding           : 12.5px;
    color             : $color_white;
    text-decoration   : none;
  }

  i {
    color             : $color_white;
    transition        : 0.2s;
  }

  h3 {
    display           : block;
    position          : relative;
    opacity           : 0;
    max-width         : 0px;
    visibility        : hidden;
    white-space       : nowrap;
    overflow          : hidden;
    text-overflow     : clip;
    font-size         : 16px;
    margin            : 0px;
    transition        : 0.2s;

    &:after {
      content         : "";
      background-color: $color_green;
      width           : 0px;
      height          : 2px;
      position        : absolute;
      left            : 0px;
      top             : calc(100% - 2px);
      transition      : width 0.2s;
    }
  }
}

.sidebar:hover .sidebar_list li h3 {
  visibility          : visible;
  opacity             : 1;
  max-width           : 130px;
  margin              : 0px 0px 0px 10px;
}

.sidebar:hover .sidebar_list li:nth-child(1) h3 {
  transition          : opacity 0.2s 0.05s, margin 0.2s 0.05s;
}
.sidebar:hover .sidebar_list li:nth-child(2) h3 {
  transition          : opacity 0.2s 0.15s, margin 0.2s 0.15s;
}
.sidebar:hover .sidebar_list li:nth-child(3) h3 {
  transition          : opacity 0.2s 0.25s, margin 0.2s 0.25s;
}
.sidebar:hover .sidebar_list li:nth-child(4) h3 {
  transition          : opacity 0.2s 0.35s, margin 0.2s 0.35s;
}
.sidebar:hover .sidebar_list li:nth-child(5) h3 {
  transition          : opacity 0.2s 0.45s, margin 0.2s 0.45s;
}

.card {
  display           : flex;
  justify-content   : stretch;
  align-items       : stretch;
  flex-direction    : column;
  box-sizing        : border-box;
  width             : 100%;
  max-height        : 100%;
  margin            : 0px 0px 15px;
  border            : 2px solid $color_white;
  border-radius     : 7px;

  .card-header {
    display           : flex;
    justify-content   : space-between;
    align-items       : center;
    padding           : 10px;
    background-color  : $color_white;
    color             : $color_black;
  }

  .card-body {
    display           : flex;
    justify-content   : stretch;
    align-items       : flex-start;
    flex-direction    : column;
    padding           : 10px;
    background-color  : $color_black;
    color             : $color_white;
    border-radius     : 7px;
    overflow          : auto;
  }
}